@import "tailwindcss";

@theme {
  --font-tufuli: var(--font-tufuli), sans-serif;
  --font-lemon: var(--font-lemon), sans-serif;
}

@layer base {
    /* This handles the global "reset" correctly for Tailwind v4 */
    *, ::after, ::before, ::placeholder {
        border-color: var(--color-gray-200, currentColor);
    }
}
@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(circle, var(--tw-gradient-from) 0%, var(--tw-gradient-via) 50%, var(--tw-gradient-to) 100%);
  }
}